.parallax-container {
  position: relative;
  overflow: hidden;
  height: 800px;
}

.header-stile {
  text-decoration: underline;
}

.size {
  width: 650px;
}

.stroke {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.1px black;
}
