<nav>
  <div class="nav-wrapper teal darken-2">
    <div class="left-align left">
      <img src="https://i.imgur.com/s9weyQ8.png" class="brand-logo logo center-align circle" alt="Terapias Yagüez">
    </div>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <li>
        <a [routerLink]="['/']">Inicio</a>
      </li>
      <li>
        <a [routerLink]="['/tratamientos']">Tratamientos</a>
      </li>
    </ul>

    <ul class="sidenav" id="mobile-demo">
      <li>
        <a [routerLink]="['/']">Inicio</a>
      </li>
      <li>
        <a [routerLink]="['/tratamientos']">Tratamientos</a>
      </li>
    </ul>
  </div>
</nav>
